li {
    list-style: none;
}

img {
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.e115fcil1 {
    border: 1px green;
}


span {
    color: green;
}
